.messageBox {
    background: #F3F3F3;
    border-radius: 20px;
    padding: 3px 15px;
    color: white;
    display: inline-block;
    max-width: 80%;
  }

  .botMessageBox {
    background: #F3F3F3;
    border-radius: 5px;
    padding: 0 5px;
    color: white;
    display: inline-block;
    max-width: 80%;
  }

  .botMessageText {
    width: 100%;
    font-size: 0.8em;
    word-wrap: break-word;
    line-height: 5px;
  }
  
  .messageText {
    width: 100%;
    letter-spacing: 0;
    float: left;
    font-size: 0.9em;
    word-wrap: break-word;
    line-height: 2px;
  }
  
  .messageText img {
    vertical-align: middle;
  }
  
  .messageContainer {
    display: flex;
    justify-content: flex-end;
    padding: 1px 5%;
    margin-top: 3px;
    height: 35px;
  }
  
  .sentText1 {
    display: flex;
    align-items: center;
    font-family: Helvetica;
    color: #828282;
    letter-spacing: 0.3px;
    font-size: 0.8em;
    padding-right: 5px;
  }

  .sentText2 {
    display: flex;
    align-items: center;
    font-family: Helvetica;
    color: #828282;
    letter-spacing: 0.3px;
    font-size: 0.8em;
    padding-left: 5px;
  }
  
  .pl-10 {
    padding-left: 10px;
  }
  
  .pr-10 {
    padding-right: 10px;
  }
  
  .justifyStart {
    justify-content: flex-start;
  }
  
  .justifyEnd {
    justify-content: flex-end;
  }

  .justifyCenter {
    justify-content: center;
  }
  
  .colorWhite {
    color: white;
  }
  
  .colorDark {
    color: #353535;
  }
  
  .backgroundBlue {
    background: #2979FF;
  }
  
  .backgroundLight {
    background: #F3F3F3;
  }

  .backgroundGray {
    background: #9d9d9d;
  }