.myborder{
    border-radius: 30px;
    overflow: hidden;
    border: 4px solid #24ad4d;
    width: 130px;
    height: 98px;
    background-image: url("../../public/noprofile.png");
    background-size: contain;
}

.userborder{
    border-radius: 30px;
    overflow: hidden;
    border: 4px solid #D32525;
    width: 130px;
    height: 98px;
    background-image: url("../../public/noprofile.png");
    background-size: contain;
}

.name{
    margin-top: 0;
    text-align: center
}

.name2{
    margin-top: 0;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    float: center;
}

.on{
    height: 18px;
    width: 18px;
    float: right;
    margin-left: 5px;
    background-image: url("../../public/on.png");
    background-size: contain;
}

.off{
    height: 18px;
    width: 18px;
    float: right;
    margin-left: 5px;
    background-image: url("../../public/off.png");
    background-size: contain;
}

.info{
    width: 137px;
    height: fit-content
}
